body{
    color:black;
    text-align: center;
    font-family: "Arial";
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1.5px solid #ddd;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
    text-align: center;
}